Artster/node_modules/*
FirstApp/node_modules/*
Jokester/node_modules/*
Templating/node_modules/*
**/package-lock.json
React/Monsters  with start/startapp.js
React/completeReact/Complete+React+Developer-+Course+Guideline+and+Code.pdf
