<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi eum amet expedita? Ipsum vitae totam rerum laboriosam facere sunt eaque, officia sint. Dolore, ipsam beatae doloribus tempore quisquam ratione odio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit exercitationem incidunt aliquid. Numquam iusto sit rem! Saepe delectus tempore, libero voluptates odio accusamus dignissimos. Harum eum veritatis deleniti aliquid nemo!</p>


</body>
</html>